{% extends "layout.html" %}

{% block content%}
<h3 class="h4">Episode {{episode.episode}}: {{episode.name}} info</h3>
<div class="row">
  <div>
    <div class="container">
      <table class="table">
          <tbody>
              <tr>
                  <th scope="row">Episode's name</th>
                  <td>{{episode.name}}</td>
              </tr>
              <tr>
                  <th scope="row">Air date</th>
                  <td>{{episode.air_date}}</td>
              </tr>
              <tr>
                  <th scope="row">Episode</th>
                  <td>{{episode.episode}}</td>
              </tr>
          </tbody>
      </table>
    </div>
    <h6 class="h5">Characters in this episode:</h6>
    <div class="col-sm-3 col-6">
      {% for character_id in episode.character_ids %}
        <a href="/profile/{{character_id}}" target="_blank">
          <h3 class="h6"> Character {{character_id}} </h3>
        </a>
      {% endfor %}  
      </div>
  </div>
</div>
{% endblock %}